.task_list  
  .task_list_name= link_to truncate(task_list.name, length: 20), [task_list.user, task_list]
  
  - if task_list.user == current_user
    .task_list_actions{style: "display: none"}
      = link_to image_tag("edit.png", title: "edit", alt: "edit"), [:edit, task_list.user, task_list]
      = link_to image_tag("trash.png", title: "remove", alt: "remove"), [task_list.user, task_list], method: :delete, data: { confirm: 'Are you sure?' }
      
  