.task_list  
  .task_list_name= link_to truncate(task_list.name, length: 20), [task_list.user, task_list]
  
  - if task_list.user == current_user
    .task_list_actions{style: "display: none"}
      = link_to 'Edit', [:edit, task_list.user, task_list]
      = link_to 'Destroy', [task_list.user, task_list], method: :delete, data: { confirm: 'Are you sure?' }
      
  