body {
	background: url(body.gif) repeat;
}

#header {
	width: 920px;
	padding: 20px;
	margin: 20px auto;
}

#content {
	width: 920px;
	padding: 20px;
	margin: 20px auto;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	background-color: white;
	min-height: 200px;
}