body {
	background-color: #EDEDED;
}

#header {
	width: 920px;
	padding: 20px;
	margin: 20px auto;
}

#content {
	width: 920px;
	padding: 20px;
	margin: 20px auto;
	border-radius: 5px;
	background-color: white;
}