.form-inputs {
	margin: 10px 0;
	.input {
		margin: 10px 0;
		label {
			margin-right: 10px;
		}
		input.radio_buttons {
			margin-right: 3px;
		}
	}
}

.task_list_name {
	min-width: 200px;
	padding: 5px 10px;
}


#task_list {  
 	h1 {
  	img {
			position: relative;
			top: 4px;
		}
	}
	#actions {
		float: right;
	}
	#tasks {
		border: 1px solid #CCC;
		margin: 50px 0 20px 0;
		input{
			border: none;
			font-size: 14px;
			padding: 5px 10px;
			width: 897px;
		}
		.edit_task {
			margin: -5px -10px;
		}
	}
	
}