#task_list {  
	h1 {
		margin-bottom: 10px;
		display: inline-block;
	}
	#task_list_edit {
		font-size: 13px;
		margin-left: 10px;
	}
	#task_list_owner {
		font-size: 12px;
		a {
			margin-left: 5px;
		}
	}
	#actions {
		text-align: right;
		a {
			padding: 0 5px;
		}
	}
	#tasks {
		border: 1px solid #CCC;
		margin: 10px 0;
	}
}

.task_list {
	position: relative;
	a.task_list_name {
		padding: 10px 5px;
		display: block;
		border-bottom: 1px solid #CCC;
		&:hover {
		 background-color: #F2F2F2; 
		}
	}
	.task_list_actions {
		position: absolute;
		right: 0;
		top: 10px;
	}
} 


#home {
	#user_task_lists {
		margin-bottom: 20px;
		width: 300px;
	}
}