.task {
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	position: relative;
	cursor: text;
	&:last-child {
	 border-bottom: none; 
	}
	.task_name {
		width: 100%;
	}
	.task_actions {
		position: absolute;
		right: 5px;
		top: 5px;
	}
}
 

#tasks {
	border: 1px solid #CCC;
	margin: 40px 0;
	input{
		border: none;
		font-size: 14px;
		padding: 5px 10px;
		width: 97%;
		background-color: #FAFAFA;
	}
	.edit_task {
		margin: -5px -10px;
	}
}
