.form-inputs {
	margin: 10px 0;
	.input {
		margin: 10px 0;
		label {
			margin-right: 10px;
		}
		input.radio_buttons {
			margin-right: 3px;
		}
	}
}

.task_list_name {
	min-width: 200px;
	padding: 5px 10px;
}