.task {
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	position: relative;
	&:last-child {
	 border-bottom: none; 
	}
	.task_name {
		width: 100%;
	}
	.task_actions {
		position: absolute;
		right: 5px;
		top: 5px;
	}
}
